path.link {
    fill: none;
    stroke: #DDD;
    stroke-width: 1px;
    opacity: 0; /*Set by script to fade in.*/
    transition: opacity 1s;
}


[data-partialnode="true"]{
    opacity: 0;
    transition: opacity 1s;
}

circle {
    stroke: #000;
    stroke-width: 1px;
}

.ui-tooltip{
    max-width: 100vw !important;
    pointer-events: none;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: #FFF;
}

text.numlinks{
    stroke: #FFF;
    font: 10px sans-serif;
    visibility: visible;
}

g:hover > text {
    color: black;
    visibility: visible;
}

#controls{
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}

.vanish{
    visibility: hidden;
}